/* Blogs.css */
.blogs-container {
    padding: 1rem 4rem;
    background-color: white;
  }
  
  .blogs-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid #E6E6E6;
  }
  
  .blogs-heading {
    color: #1A1A1A;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.11813rem;
    text-transform: uppercase;
  }
 
  .columns {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
  
  .column {
    flex: 1;
    align-items: flex-start;
    padding-right: 1rem;
    border-right: 1px solid #ccc;
  }
  .column:last-child{
    border-right: none;
  }
  .column1 {
    flex: 3;
    
  }
  
  .blog-card {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  .blog-card:last-child{
    border:none;
  }
  .blog-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 3rem;
  }
  .blog-api-model {
    color: #7E746D;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.105rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
  }

  .blog-title {
    color: #1A1A1A;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.35938rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: -0.0075rem;
  }
  
  
/* Media Query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .blogs-container {
      padding: 1rem;
    }
  
    .columns {
      flex-direction: column;
      gap: 0;
    }
  
    .column {
      flex: 1;
      padding-right: 0;
      border-right: none;
      margin-bottom: 20px;
    }
  
    .column1 {
      flex: 1;
      margin-right: 0;
    }
  }
  
  /* Media Query for screens with a maximum width of 480px */
  @media (max-width: 480px) {
    .blogs-container {
      padding: 1rem;
    }
  
    .blogs-heading {
      font-size: 1.125rem;
    }
    .columns {
        flex-direction: column;
        gap: 0;
      }

      .column {
        margin-bottom: 20px;
      }
    .blog-card {
      padding: 10px;
    }
  
    .blog-title {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }