/* Events.css */
.events-container {
    padding: 1.4rem 4rem;
    display: flex;
    flex-direction: column;
  }
  
  .events-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #1A1A1A;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.11813rem;
  text-transform: uppercase;
  padding-bottom: 2rem; 
  border-top:1px solid #E6E6E6 ;
  border-bottom: 1px solid #E6E6E6;
  }
  
  .see-more-link {
    color:red;
    text-decoration: none;
    font-size: 0.97119rem;
  }
  
  .see-more-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 0;
  }
  
  .event-card-link {
    text-decoration: none;
  }
  
  .event-card {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    border: 1px solid #E6E6E6;
    padding: 1rem;
  }
  
  .event-card img {
    width: 100%;
    height: auto;
  }
  
  .event-title {
    color: #1A1A1A;
    font-size: 1.57175rem;
    font-weight: 400;
    line-height: 2.5rem;
  }
  
  .event-time {
    color: #767676;
    font-size: 0.94631rem;
    font-weight: 300;
    line-height: 1.75rem;
  }
  