/* ExhibitionsRail.css */
.exhibitions-rail {
  padding: 1.4rem 4rem 4rem 4rem; 
  display: flex;
  flex-direction: column;
}

.exhi-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #1A1A1A;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.11813rem;
  text-transform: uppercase;
  padding-bottom: 2rem; 
  border-bottom: 1px solid #E6E6E6;
}

.all-exhibitions-button {
  color: #7E746D;
  background-color: #fff;
  font-size: 0.96rem; 
  font-style: normal;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0.01063rem;
  border: none;
}

.all-exhibitions-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.exhi-cards {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  padding: 1rem 0 1rem 0; 
  gap: 4rem;
  overflow: hidden; 
}
 
.exhi-wrap{
  position: relative;
  border-right: 1px solid #E6E6E6;
  padding-right: 4rem;
}

.exhi-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 40rem;
  text-align: left;
  overflow: hidden; 
  gap: 0.7rem;
}


.exhi-card img {
  width: 45rem; 
  height: 25rem; 
  object-fit: cover;
}

.exhi-card img:hover {
  border-bottom: 4px solid grey;
  margin-bottom: -4px;
  cursor: pointer;
}



.exhi-model {
  color: #7E746D;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.105rem;
  text-transform: uppercase;
}

.exhi-title {
  color: #1A1A1A;
  font-size: 1.57175rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: -0.00906rem;
}

.exhi-title:hover {
  color: grey;
  cursor: pointer;
}

.exhi-duration {
  color: #767676;
  font-size: 0.94631rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75rem; 
  letter-spacing: 0.01063rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .exhibitions-rail {
    padding: 1.4rem 1rem 1rem; 
  }
  
  .exhi-header {
    gap: 0.5rem;
  }

  .exhi-cards {
    gap: 1rem;
    padding: 1rem 1rem;
    flex-direction: column;

  }
.exhi-wrap{
  border-right:none;
  border-bottom: 1px solid #E6E6E6;
}


  .exhi-card img{
    width: 20rem;
height: 10rem;
}
}