/* Pagination.css */

/* Default styling */
.pagination-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E6E6E6;
    align-items: center;
    margin-top: 20px;
    color: #1A1A1A;
    text-align: center;
    font-family: Inter;
    font-size: 1.00438rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.01063rem;
  }
  
  .pagination-button-prev {
    margin-right: auto;
    border: none;
    padding: 1rem;
    border-right: 1px solid #E6E6E6;
    background-color: white;
  }
  
  .pagination-button-prev:hover {
    border: 1px solid black;
  }
  
  .pagination-button-next {
    margin-left: auto;
    border: none;
    padding: 1rem;
    border-left: 1px solid #E6E6E6;
    background-color: white;
  }
  
  .pagination-button-next:hover {
    border: 1px solid black;
  }
  
  .pagination-button-next button:active {
    border: none;
    background-color: white;
    color: #1A1A1A;
    border-left: 1px solid black;
  }
  
  .pagination-button:disabled {
    background-color: #ccc;
    border: none;
    cursor: not-allowed;
  }
  
  .page-numbers {
    display: flex;
    gap: 5px;
    border: none;
  }
  
  .page-numbers button {
    padding: 1rem;
    background-color: white;
    border-bottom: none;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
  }
  
  .page-numbers button:hover {
    border: 1px solid black;
  }
  
  .page-numbers button.active {
    border-top: 1px solid red;
    background-color: white;
  }
  
  /* Media query for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .pagination-container {
      flex-direction: column;
      text-align: center;
    }
  
    .pagination-button-prev,
    .pagination-button-next {
      margin: 0;
      width: 100%;
    }
  
    .page-numbers {
      flex-wrap: wrap;
    }
  }
  
  /* Media query for screens with a maximum width of 480px */
  @media (max-width: 480px) {
    .pagination-container {
      font-size: 0.8rem;
    }
  
    .pagination-button-prev,
    .pagination-button-next,
    .page-numbers button {
      padding: 0.5rem;
    }
  }
  